@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
}
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100dvh; 
  box-sizing: border-box;
  overflow: hidden;


  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  
}


* {
  outline: none;            
  -webkit-tap-highlight-color: transparent; 
  user-select: none;                   
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;            

}
* {
  -webkit-touch-callout: none;   /* disables iOS context menu */
  -webkit-user-select: none;     /* prevent text selection on iOS */
  -moz-user-select: none;        /* Firefox */
  -ms-user-select: none;         /* IE10+ */
  user-select: none;              /* standard */
  -webkit-tap-highlight-color: transparent; /* remove tap highlight */
}


.pagelayout_outer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(243, 242, 242);
}
.pagelayout_inner{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: row;
 
    background-color: white;
}
.navigation_bar{
    height: 100%;
    width: 75px;
    display: flex;
    flex-direction: column;
    
}
/* Nav Bar */
.icon_con {
  width: 100%;
  height: 75px;

  display: flex;
  justify-content: center; 
  align-items: center;   
  font-weight: 600;
  font-size: 150%;

  
}
.no_conference_found{
  width: 100%;
  /* border: 5px solid green; */
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 500;
  font-size: 150%;
  color: #4e4e4e;
}
.filter_opt_open{
 
  width: 100%;
  height: 60px;
  margin-top: 5px;
  display: flex;
  justify-content: center; 
  align-items: center;   
  font-weight: 300;
  font-size: 100%;
  border: 2px inset gray;
  border-radius: 15px;
  background-color: rgb(136, 209, 209)

}
.filter_opt_sold{
 
  width: 100%;
  height: 60px;
  margin-top: 5px;
  display: flex;
  justify-content: center; 
  align-items: center;   
  font-weight: 600;
  font-size: 150%;
  border: 2px inset gray;
  border-radius: 15px;
  background-color: rgb(230, 205, 152);
 flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filter_opt_closed{
 
  width: 100%;
  height: 60px;
  margin-top: 5px;
  display: flex;
  justify-content: center; 
  align-items: center;   
  font-weight: 600;
  font-size: 150%;
  border: 2px inset gray;
  border-radius: 15px;
  background-color: rgb(226, 224, 224);
 flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filter_opt {
  width: 100%;
  height: 60px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 100%;
  color: rgb(203, 194, 194);

  /* Add transition */
  transition: all 0.3s ease-in-out;
  cursor: pointer; /* make it look clickable */
}

.filter_opt_active {
  width: 100%;
  height: 60px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 100%;
  color: rgb(241, 247, 243);
  background-color: rgb(184, 184, 184);
  border-radius: 10px;
  border: 2px inset white;

  /* Same transition so it animates when toggling */
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.filter_options{
  
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   margin-top: auto;        /* Push this div to the bottom */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;  
  border-radius: 10px;
}
.icon_con, .icon_selected {
  transition: transform 0.1s, background-color 0.1s;
}
.icon_con:active {
  transform: scale(0.95);
  /* background-color: #d1d5db;  */
}
.icon_selected {
  width: 100%;
  height: 75px;

  display: flex;
  justify-content: center; 
  align-items: center;     
  background-color: rgb(223, 223, 223);
}
.icon_img {
  width: 50%;  
  height: auto; 
}

/* Displayed Page */
.displayed_page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;;
}

/* Header */
.conference_speaker_options_static{
  height: 55px;
  width: 100%;
}
.header{
  height: 50px;
  max-height: 50px;
  min-height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* border: 5px solid red; */
  box-sizing: border-box;

}
.admin_header{
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;

}
.page_header{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
  padding-left: 5px;
  font-size: 120%;
  font-weight: 600;
  border-bottom: 2px solid rgb(206, 206, 206);
  color: #636363;
}
.create_header{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  /* padding-left: 5px; */
  font-size: 120%;
  font-weight: 600;
  border-radius: 5px;
  background-color: teal;
  color: white;
}

/* All Conferences */
.all_conferences {
  width: 100%;
  max-width: 500px;
  height: 100%;
  overflow-y: scroll;
}
.all_conferences::-webkit-scrollbar {
  display: none;
}
.conference_tag{
  width: 100%;        
  max-width: 100%;     
  height: 100%;
  max-height: 275px;
  min-height: 275px;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25)
}
.layout_special{
  /* border: 5px solid green; */
  height: 100%;
}
.hello{
  width: 50px;
}
.ccc{
    width: 100%;
    max-height: 300px;
    padding: 15px;
    margin-bottom: 10px;
    overflow: hidden;
}

.con_{
  width: 100%;
  height: 100%;
  /* margin-top: 10px;
  margin-bottom: 10px; */
  padding: 15px;
}
.conference_tag_image{
  width: 100%;
  min-height: 150px;
  max-height: 150px;
  /* height: 100px; */
overflow: hidden;
  /* min-width: 500px; */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* border: 2px solid red; */
  box-sizing: border-box;
  overflow: hidden;
  
}
.conference_tag_name{
  width: 100%;
  margin-left: 15px;
  font-size: 130%;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #4e4e4e;
  padding-top: 10px;
}
.conference_tag_date{
  width: 100%;
  /* height: 12%; */
  margin-left: 15px;
  font-size: 90%;
    color: #4a4949;
}
.conference_tag_location{
  width: 100%;
  /* height: 12%; */
  margin-left: 15px;
  font-size: 90%;
    color: #4a4949;
    font-weight:600;
}

/* Conference Details */
.conference_details{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

}
.conference_registered{
  width: 100%;
  height: 150px;
  border: 2px solid black;
  background-color: rgb(216, 214, 214);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
  color: white;
  font-weight: 600;
}
.conference_unregistered{
  width: 100%;
  height: 150px;
  border: 2px solid black;
  background-color: rgb(216, 214, 214);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(220, 39, 19);
  color: white;
  font-weight: 600;
}


.conf_page_con{
  width: 100%;
  height: 100%;
  /* border: 10px solid orange; */
  overflow: scroll;
}
/* Admin Layout */
.admin_layout{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  /* background-color: rgb(219, 218, 218);
  background-color: blue; */
}
.admin_page_content{
  /* width: 100%; */
  height: 85%;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  /* min-width: 500px; */
  overflow: scroll;
  border: 5px solid red;
}
.edit_conferences_container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin_inner_layout{
  flex-direction: column;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.conference_speaker_options {
    width: 100%;
    overflow: hidden;
    max-width: 500px;
    height: 0px;
    display: flex;
    align-items: center;       
    background-color: #fff;
    transition: height 0.5s ease, opacity 0.5s ease;
}
.conference_speaker_options_active {
    
  width: 100%;
  overflow: hidden;
  height: 50px;
  max-width: 500px;
  display: flex;
  align-items: center;       
  background-color: #fff;    
  opacity: 1;      
  transition: height 0.5s ease, opacity 0.5s ease;   
}
.admin_mid_layout{
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  /* align-items: center;        */
  background-color: #fff;
  overflow-y: auto;
}
.xx{
  width: 100%;
  height: 50%;

}

.admin_single_event_container{
  width: 100%;
  max-width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(210, 208, 208);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}
.tag{
  width: 100%;
  height: 90%;
  /* min-height: 100%; */
 
  box-sizing: border-box;

}
.con_con{
  /* width: 100%;
  border: 5px solid rgb(128, 51, 51);
  height: 100%; */
  
}
/* Edit Speaker Layout */
.edit_speaker_layout{
  width: 100%;
  height: 100%;

}
.inner_speaker_layout{
  width: 100%;
   display: flex;
   flex-direction: column;
  justify-content: center;
  /* background-color: rgb(239, 239, 239); */
  align-items: center;
    border-radius: 15px;
    /* border: 2px solid green; */

}
.conference_speakers_con{
  max-width: 500px;
  height: 100%;
  border: 2px solid rgb(220, 219, 219);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  overflow: hidden;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 5px;

}
.test_fix{
    width: 100%;
    max-width: 475px;
    height: 50px;
    display: flex;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 5px; */
    border-width: 2px;
    border-style: solid;
    border-color: rgb(226, 224, 224);
    border-image: initial;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120%;
    font-weight: 600;
    color: teal;
}
.conference_speakers_inner{
  max-width: 500px;
  height: 100%;
  border: 2px solid rgb(226, 224, 224);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);

}
.conference_speaker_bio_con{
  width: 100%;
  /* height: 100%; */

}
.conference_speaker_image_con{
  width: 100%;
  /* flex: 1; */
  /* border: 5px solid red; */
  /* padding: 5px; */
  border: 2px inset rgb(192, 192, 192);
  border-radius: 5px ;
  background-color: white;

}
.row_title{
  font-weight: 600;
  font-size: 100%;
}
/* Create Conference Form */
.select_speaker{
  width: 100%;
  /* height: 500px; */
  border: 1px solid black;
  display: flex;
  justify-content: left;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.speaker_row{
  width: 100%;
  height: 50px;
  border: 2px solid rgb(226, 226, 230);
  justify-content: center;
  align-items: center;
  display: flex;
}
.speaker_row_selected{
  width: 100%;
  height: 50px;
  border: 2px solid rgb(226, 226, 230);
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgb(172, 169, 169);
}
/* input[type="date"] {
  width: 100% !important;
  min-width: 0;
  -webkit-appearance: none; 
  -moz-appearance: none;  
  appearance: none;
} */


/* ============================== */
.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;


}
.main_inner{
  max-width: 1500px;
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow:    -10px 0 10px 0 rgba(0,0,0,0.1), ;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
  box-sizing: border-box;


}
.navbar {
  width: 80px;  /* fixed sidebar */
  min-width: 80px;
  max-width: 80px;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;

 
}


.main3{
  
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
 
  display: flex;
  justify-self: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;

  
}
.main_event_details {
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
}


.block1{
  width: 100%;
  height: 100%;
  /* border: 5px solid purple; */
  display: flex;
  flex-direction: column;
}
.block2{
  width: 100%;
  /* max-width: 200px; */
  height: 100%;
  /* background-color: gray; */
  display: flex;
  justify-content: left;
  align-items: center;
  /* border: 2px solid red; */
}
.start_date{
  height: 100%;
  width: 25%;
  /* border: 1px solid gray; */
   display: flex;
  justify-content: left;
  align-items: center;

}
.dropdown{
  position: absolute;
  left: 0;
  top: 100%;
  background-color: gray;
  width: 100%;
  height: 500px;
  max-height: 500px;
  overflow: scroll;

}
.date{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.dates{
  width: 100%;
  height: 85%;
    background-color: rgb(72, 71, 71);
      display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(220, 216, 216);
  border-radius: 5px;
}

.items_listed{
  width: 100%;
  height: 50%;
  font-size: 70%;
  display: flex;
  justify-content: left;
  align-items: top;
}
.single_conference_row{
  width: 100%;
  max-width: 100%;
  height: 300px;

  border-bottom: none;
  box-sizing: border-box;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;

}



.status_open{
  width: 30%;
  background-color: teal;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.status_closed{
  width: 30%;
  background-color: rgb(195, 47, 39);
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


.event_details_img_con{
  width: 100%;
  height: 30%;
  
  background-color: rgb(159, 182, 176);
  display: flex;
  justify-content: center;
  align-items: center;

}

.event_detail_img{
  width: 100%;
  height: 100%;
  /* border-radius: 10px; */
}
.speaker_box{
  width: 100%;
  display: row;
  max-width: 100px;
  justify-content: center;
  align-items: center;
  /* border: 5px solid green; */
 
}

.avatar_url{
  /* max-width: 50px; */
  display: flex;
  justify-self: center;
align-items: center;

}
.event_details_name{
  width: 100%;
  font-size: 250%;
  font-weight: 700;
  padding-left: 15px;
  background-color: rgb(237, 234, 234);
  background-color: #fafafa;
}
.event_details_date_con{
  width: 100%;
  height: 30px;
  font-size: 300%;
  font-weight: 700;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
    /* background-color: rgb(242, 242, 242) */
}
.event_deails_date_icon{
  width: 50px;
  height:  80%;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
}
.event_deails_date{
  width: 100%;
  font-size: 35%;
  font-weight: 400;

}

.event_deails_description{
  width: 100%;
  /* height: 500px; */

  font-size: 120%;
   /* font-family: cursive; */
   padding-left: 15px;
    background-color: #f6f9f6;
}
.speaker_row_con{
  width: 100%;

  display: flex;
  flex-direction: row;
  border: 2px solid red;
}
.speaker_name_title{
  width: 100px;
  height: 100%;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}
.speaker_name_{
    width: 500px;
  height: 100%;
  /* font-weight: 500; */

  display: flex;
  justify-content: left;
  align-items: center;
}

.description_and_speaker{
  width: 100%;
  height: 100%;
  padding-left: 15px;
  background-color: #f6f9f6;
  display: flex;
  flex-wrap: wrap;
}
.description_con{
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  height: 100%;
  /* border: 3px solid black; */
  display: flex;
}
.speaker{
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  height: 100%;
  background-color: rgb(249, 249, 249);
  border: 2px solid red;
}
.event_deails_description_title{
  width: 100%;
  height: 10%;

  font-size: 175%;
   /* font-family: cursive; */
   color: rgb(82, 82, 82);

   font-weight: 600;
    padding-left: 15px;
  padding-top: 20px;
   background-color: #f6f9f6;
   border: 1px solid red;
 
}
.speaker_bio{
  width: 100%;
  height: 90%;
  /* border: 5px solid orange; */
  box-sizing: border-box;
}

/* @media (max-width: 640px) {
  .conference_tag {
    height: auto;   
  max-width: 3%;     
  
  height: 220px;      
  box-shadow: 10px 10px 5px rgba(0,0,0,0.1);
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  }
} */


.event_details_minor{
  width: 100%;
  /* height: ; */
  background-color: rgb(242, 242, 242);

}
.bottom_half{
  width: 100%;
  height: 100%;
  border: 3px solid black;
  display: flex;
  flex-direction: row;
}




.delete_conference{
  width: 100%;
  height: 50px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}
.conf_row{
  width: 100%;
  /* height: 5px; */
  border: 2px solid black;
  background-color: gray;
  display: flex;
  flex-direction: row;
}


.admin_conference_tag{
  width: 100%;          
  max-width: 100%;    
  height:  100%;       
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  
}

.edit_options_active{
  width: 100%;
  height: 30px;
  max-height: 30px;
  min-height: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: transform 0.1s ease, background-color 0.1s ease;
  
}
.edit_options{
  width: 100%;
  height: 30px;
  max-height: 30px;
  min-height: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: transform 0.1s ease, background-color 0.1s ease;
  
}

.delete_button_con{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(224, 224, 224);
  background-color: #574e4e;
  /* border-radius: 5px; */
  /* margin: 5px; */
  transition: transform 0.1s ease, background-color 0.1s ease;
  cursor: pointer;   
  user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;   
  color: white;
  
}
.delete_button_con:hover{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(224, 224, 224);
  background-color: #b5adad;
  /* border-radius: 5px; */
  /* margin: 5px; */
  transition: transform 0.1s ease, background-color 0.1s ease;
  cursor: pointer;     

  
}
.delete_button_con:active {
  background-color: rgb(198, 188, 188);      
  transform: scale(0.95);      
}
.admin_create_con{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(220, 220, 220);
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 120%;
}
.admin_create_con_selected{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(220, 220, 220);
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 120%;
  background-color: teal;
  color: white;
}






/* ADMIN */
.admin_container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;;
  align-items: center;
  background-color: #d5d5d5;

 
  overflow-y: scroll;
  overflow-x: hidden;
}
.speaker_create_form{
  background-color: white;
    max-width: 500;
    height: 100%;

  padding: 10px;
  
}
.create_form_container{

  display: flex;
  justify-content: center;

  max-width: 500px;
  background-color: white;
  padding: 10px;

  flex-direction: column;
  overflow-y: scroll;
 
  
}

.create_button_con{
   width: 100%;
   min-width: 100%;
   height: 100%;
   /* background-color: blue; */
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid gray;
   border-radius: 5px ;
}
.conf_create{
    height: 100%;
    width: 100%;
    display: flex;
 
    justify-content: center;
    align-items: center;
  }

  .create_con_button{
    width: 50%;
    border: 5px solid red;
    display: flex;
    border: 2px solid gray;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    min-width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: teal;
    color: white;
    font-weight: 500;
  }



.submit_button{
  width: 100%;
  height: 50px;
  border: 2px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  background-color: teal;
  color: white;
}
.empty_value_error{
  width: 100%;
  height: 25px;
  background-color: rgb(236, 111, 111);
  color:  white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select_image_con{
  width: 100%;
  min-width: 350px;
  /* height: 300px; */
  /* overflow-y: scroll; */
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  background-color: rgb(202, 202, 202);
}
.single_image{
  padding: 5px;
}
.change_image_con{
  width: 100%;
  /* height: 10px; */
  background-color: rgb(61, 63, 64);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.form_input_container{
  width: 100%;
  height: 45px;
  max-height: 45px;
  min-height: 45px;
  background-color: rgb(253, 253, 253);
  border: 1px solid black;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ta{
  width: 100%;
  height: 250px;
}
.text_area textarea {
  width: 100%;
  height: 250px;
  
 
  /* min-width: 470px; */
  max-width: 470px;
  background-color: rgb(253, 253, 253);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box; 
  resize:vertical;          
}

.conference_speaker_con{
  width: 100%;
  /* height: 300px; */
  display: flex;
  flex-direction: row;

  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;

 
}

.conference_speaker_detail_con{
  width: 100%;
  /* height: 30px; */
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
}
.conference_speaker_left{
  /* width: 300px; */
  min-width: 100%;
  /* max-width: 150px; */
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
  font-weight: 700;
  /* border: 2px solid black; */
  background-color: rgb(231, 231, 231);
}
.conference_speaker_bio_{
  width: 100%;
  display: flex;
  /* /* height: 1000px; */
  flex-direction: column;
}
.conference_speaker_right{
  /* width: 90%; */
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
  font-weight: 400;

}

.conference_speaker_admin_con{
    width: 100%;
    height: 100%;
}
.admin_speaker_con{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
}

.admin_speakers{
  width: 500px;
  max-width: 500px;
  /* height: 500px; */
  /* border: 5px solid green; */
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.speaker{
  width: 100%;
  min-width: 100%;
  height: auto;
  /* flex: 1; */

}
.img_con{
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.page_data{
  width: 100%;

}
 
